

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

header {
    background-color: #f2b03d;
    color: white;
    padding: 0.5px 0;
    text-align: center;
}

nav ul {
    background-color: #f99109;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    padding: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    background-color: white;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color:#f99109;
    color: white;
    border: none;
}
